*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.dark-mode {
  --mainBG: linear-gradient(#ff9020,#e36c4f,#d84242,#7a2477,#3d1b81);
  --divBG:rgba(0, 0, 0, 0.5);
  --headerText: rgb(253, 228, 218);
  --contrastText: antiquewhite;
  --linkColor: aqua;
  --sectionBG: rgba(0, 0, 0, 0.5);
  --divColor: rgba(0, 0, 0, 0.5);
  --invertColor: invert(1);
  --modalBG: rgba(0, 0, 0, 0.9);
}
.light-mode {
  --mainBG: linear-gradient(#f0f1f6 85%, #fdecaf 90%, #e27474 95%, rgba(122,36,119,.8) 100%);
  --divBG:rgba(255, 255, 255, 0.5);
  --headerText: rgb(255, 90, 27);
  --linkColor: rgb(255, 90, 27);
  --contrastText:rgb(65, 65, 65);
  --sectionBG: rgba(202, 202, 202, 0.5);
  --divColor: rgba(255, 255, 255, 0.5);
  --invertColor: invert(0);
  --modalBG: #f0f1f6;
}

body {
  margin: 0;
  padding: 0;
  background: var(--mainBG);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  overflow: auto;
}

.btn-toggle {
  background-color: transparent;
  color: var(--contrastText);
  font-weight: 700;
  border: none;
  float: right;
}

.btn-toggle img {
  filter: var(--invertColor);
  width: 20px;
}

body::-webkit-scrollbar {
  width: 10px;
  opacity: 0.75;
}

/* Track */
body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.9);
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgb(45, 45, 45); 
  border-radius: 5px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.reg-log {
  color: var(--linkColor);
  font-weight: 700;
  font-size: .75em;
  padding: 10px;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--divBG);
  padding: 50px 25px 50px 25px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.form-check-label,
.login-space h1{
  color: var(--headerText);
  font-weight: bold;
}

.form-check-label {
  font-size: .75em;
}

.form-check-label input {
  -moz-appearance: none;
  appearance: none;
  outline: none;

  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 3px solid rgba(140, 140, 140, 0.45);
  transition: border .25s linear;
}

.form-check-label input:checked {
  border: 3px solid rgb(255, 90, 27);
}

.form-group input {
  border: 0;
  border-bottom: 1px solid rgb(255, 90, 27);
  background-color: inherit;
  font-weight: bold;
}

.form-group input::placeholder {
  color: var(--contrastText);
}

.form-group input:focus {
  background-color: rgba(0, 0, 0, 0.45);
  color: rgb(220, 220, 220);
  font-weight: bold;
}

#btn {
  background-color: rgb(255, 72, 0);
  border: none;
  border-radius: 10px;
  color: antiquewhite;
  padding: 5px 10px;
  margin-top: 35px;
  font-weight: 900;
}

#btn:hover {
  background-color: rgba(255, 72, 0, 0.75);
}


.container {
  background-color: rgba(0, 0, 0, 0.50);
  box-shadow: 0 -7px 10px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  flex-flow: column;
  min-height: 100%;
  min-width: 100%;
  justify-content: space-around;
  margin-left: -300px;
  float: right;
  align-items: center;
}

.expand {
  background-color: var(--divColor);
  color: var(--contrastText);
  font-size: 17px;
  font-weight: 600;
  width: 600px;
  cursor: pointer;
  padding: 20px;
  margin-top: 50px;
  text-align: left;
  outline: none;
  transition: 0.4s;
  border: none;
  box-shadow: 0 -7px 10px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 0px 0px;
}

/* customizations for summernote text editors */
.note-editable {
  color: rgba(253, 228, 218, 0.822);
}

.note-editable > font {
  color: var(--contrastText);
}

.note-btn.active {
  color: var(--contrastText);
  background-color: rgb(255, 90, 17);
  border-color: rgb(255, 90, 17);		   
}

.active {
  color: var(--contrastText);
  border-radius: 5px;
}

.active:not(.note-btn), .expand:hover {
  background-color: rgba(0, 0, 0, 0.65);
  width: 600px;
  overflow: hidden;
}

/* end of the summernote customizations (i think lol) */

input[type="checkbox"] {
  -moz-appearance: none;
  appearance: none;
  outline: none;
  display: none;
}

input[type='checkbox'] + label:before {
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
}

input[type='checkbox'] + label:before {
  content: "\f105";
  font-weight:900;
}

input[type='checkbox']:checked + label:before{
  content: "\f107";
  font-weight:900;
}

#gs-panel,
#admin-panel {
  width: 600px;
  padding: 5px 18px;
  background-color: var(--divColor);
  overflow: hidden;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 7px 10px 3px rgba(0, 0, 0, 0.2);
}

#gs-panel a,
#admin-panel a, p, li {
  color: var(--contrastText);
}

.gs-container li {
  border: none;
  background-color: transparent;
  font-weight: 700;
}

#target {
  background-color: var(--divColor);
}

.gs-dash,
.reviewer-dash,
.admin-dash,
.pro-review,
.grants,
.account {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  float: right;
  background-color: var(--sectionBG);
}

.gs-container,
.reviewer-container,
.admin-container,
.pro-container,
.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 85%;
  float: right;
  padding-top: 25px;
}

.pro-container textarea {
  color: var(--contrastText);
}

.grant-table-container {
  max-width: 70%;
  margin-left: 300px;
}

.account-card {
  position: relative;
  padding: 5px 15px;
  background-color: var(--divColor);
  border-radius: 5px;
  width: 700px;
  height: 500px;
}

.account-card h4,label {
  color: var(--contrastText) !important;
  font-weight: 700;
}

.grant-table-item {
  position: relative;
  padding: 5px 15px;
  background-color: var(--divColor);
  border-radius: 5px;
  min-width: 700px;
  width: fit-content;
  min-height: 500px;
  height: fit-content;
  margin: 5px;
}
.grant-table-item thead th {
  font-size: 25px;
}
.grant-table-item #btn {
  margin: 0 auto;
}

.pro-card {
  position: relative;
  padding: 15px;
  background-color: var(--divColor);
  border-radius: 5px;
  width: 700px;
  height: 100%;
}

.pro-card label {
  color: var(--contrastText);
  width: 40px;
  text-align: left;
  font-weight: 700;
  font-size: 1.55em;  
  padding-right: 60%;
  padding-bottom: 5px;
  padding-top: 20px;
}

.pro-card input:hover{
  cursor: pointer;
}

.pro-card select, option {
  font-weight: 700;
}

#gs-table,
#reviewer-table,
.form-group label,
#grants-table,
.card-title {
  color: var(--contrastText);
  font-weight: 700;
}

#gs-table th,
#reviewer-table th {
  font-weight: 900;
  font-size: 20px;
}

.grants-table th {
  font-weight: 700;  
  font-size: 25px;
}

#grants-table th:nth-child(1) {
  width: 10%;
}
#reviewer-table td:nth-child(2),
#grants-table td:nth-child(1){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#gs-table th:nth-child(2),
#reviewer-table th:nth-child(2),
#grants-table th:nth-child(2) {
  width: 30%;
}
#grants-table td:nth-child(2) span {
  display: block;
}
#grants-table tbody td:nth-child(6) {
  white-space: nowrap;
}
#grants-table thead th:nth-child(6) {
  padding-left: 55px;
}

#gs-table tbody tr:hover,
#reviewer-table tbody tr:hover,
#grants-table tbody tr:hover {
  font-weight: 700;
  color: rgb(255, 90, 25);
}

.admin-item li {
  background-color:transparent;
  border-color: transparent;
}

.admin-item a {
  color: antiquewhite;
  font-size: large;
  font-weight: 700;
}

#admin-panel ul, p {
  font-weight: 700;
  color: var(--contrastText);
}

#awarded {
  font-size: 20px;
  color: var(--headerText);
}

.pro-review .pro-download,
.admin-item button {
  background-color: rgb(255, 72, 0);
  color: antiquewhite;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.admin-item button:hover,
.admin-item button:focus,
.admin-item button:active {
  background-color: rgba(255, 72, 0, 0.75);
}

.modal-header, .modal-body, .modal-footer
{
  background-color: var(--modalBG);
  border-color: var(--sectionBG);
}
.modal-body button {
  padding: 5px;
  margin-top: 15px;
}
.modal-content h4, .modal-content p {
  color:var(--contrastText);
  font-weight: 700;
  word-wrap: break-word;
}

.reviewer-expand {
  width: 800px;
  min-width: 100%;
  background-color: var(--divColor);
  color: var(--contrastText);
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  padding: 20px;
  box-shadow: 0 -7px 10px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 0px 0px;
  transition: 0.4s;
}
.reviewer-panel:active {
  color: var(--contrastText);
}
.reviewer-panel {
  width: 800px;
  min-width: 100%;
  background-color: var(--divColor);
  margin-bottom: 50px;
  border-radius: 0px 0px 5px 5px;
  padding: 20px;  
  box-shadow: 0 7px 10px 3px rgba(0, 0, 0, 0.2);
}
.pro-review button,
.reviewer-panel p{
  color: antiquewhite;
}

@media screen and (max-width: 800px) {
  .gs-container,
  .admin-container,
  .reviewer-container,
  .pro-container,
  .account-container,
  .grant-table-container {
    position: relative;
    float: left;
    width: 100%;
    max-width: 700px;
    overflow-x: scroll;
  }
  
  .grant-table-container {
    margin: 0 auto;
  }
  #grants-table{
    table-layout: fixed;
    max-width: 90%;
    border-left: 20px;
    border-right: 20px;
    overflow-x: scroll;
    font-size: smaller;
    margin: 0 auto;    
  }
  #grants-table th:nth-child(n),
  #grants-table td:nth-child(n){
    align-self: center;
    width: 30%;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
  }
  #grants-table td:nth-child(6){
    font-size: x-small;
    overflow: visible;
  }
}