<DOCTYPE! html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Dashboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
      <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body class="dark-mode">
      {% include 'sidenav.html' %}
      <section class="admin-dash">
        <div class="admin-container">
          <div class="admin-item">
            <input type="checkbox" id="arrow1">
            <label class="expand" id="target" for="arrow1"> Assign to Reviewers </label>
            <div class="panel" id="admin-panel">
                {% if assign %}
                {% for g in grant %}
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center"><a>{{ g[15] }} - {{ g[1] }} </a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{g[0]}}">
                    Assign
                    </button>
                </li>
                </ul>
                  
                <div>
                  <!-- The Modal -->
                  <div class="modal" id="myModal{{g[0]}}">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4>Proposals for {{ g[15] }} </h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                          <p>Title: {{ g[1] }}</p>
                          <p>Summary: {{ g[2] | replace('<p>','') | replace('</p>','') }} </p>
			                    <form action="{{ url_for('assign') }}" method="post">
                            <p>Reviewers in the {{g[22]}} Department:</p>
                            <select name="remail" class="custom-select" id="inputGroupSelect0{{g[0]}}">
                              <option selected>Choose...</option>
                              {% for r in reviewer %}
                                {% if r[3] == g[22] %}

                               <option value="{{r[0]}} {{g[0]}}">{{r[1]}} {{r[2]}}</option>

                                {% endif %}
                              {% endfor %}
                            </select>

                            <button class="btn btn-default btn-md" value="assign">Assign</button>
                          </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
		            {% endfor %}
                {% else %}
                  <p> No grants to assign at this time</p>
                {% endif %}
          </div>
          <div class="admin-item">
            <input type="checkbox" id="arrow2">
            <label class="expand" id="target" for="arrow2"> Pending Final Decision</label>
            <div class="panel" id="admin-panel">
                {% if pending %}
                {% for p in pending %}
                <div>
		              {% if p[10] is none %}

                      <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="#">{{ p[1] }} </a> 
			                    {% if p[13] and not p[18] %}
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#appModal" disabled>
                          Not yet reviewed
                          </button>
                          {% else %}
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#appModal{{p[0]}}">
                          Decide
                          </button>
                          {% endif %}
                        </li>
                      </ul>
		              {% endif %}
		            </div>

		  {% if re_info %}
      {% for re in re_info %}
      {% if  p[14] == re[0] %}
                  <!-- The Modal -->
                  <div class="modal" id="appModal{{p[0]}}">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Proposal {{ p[0] }} </h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                          <p>Title: {{ p[1] }}</p>
                          <br>
                          <p>Summary: {{ p[2] | replace('<p>','') | replace('</p>','') }} </p>
                          <br>
			                    <form  action="{{ url_for('decide', pro_id=p[0]) }}" method="post">
                            <p>Signifigance = {{ re[1]}}</p>
                            <p>Work Plan = {{ re[2]}}</p>
                            <p>Outcomes = {{ re[3]}}</p>
                            <p>Budget Proposal = {{ re[4]}}</p>
                            <p>comments = {{ re[5]}}</p>
                            <button name='decide' type="submit" class="btn btn-default btn-md" id="btn" value="accept">Accept</button>
                            <button name='decide' type="submit" class="btn btn-default btn-md" id="btn" value="decline">Decline</button>
                          </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                      </div>
                    </div>
                  </div>
              {%endif%}
              {% endfor %}
	            {% endif %}
              {% endfor %}
              {% else %}
                <p>No proposals to review at this time</p>
              {% endif %}
	    </div>
	  </div>
	  </div>

          <div class="admin-item">
            <input type="checkbox" id="arrow3">
            <label class="expand" id="target" for="arrow3"> Data</label>
            <div class="panel" id="admin-panel">
              <div class="d-flex w-100 justify-content-between">
                <p></p>
              </div>
            </div>
          </div>
        </div>

          <script>
            var exp = document.getElementsByClassName("expand");
            var i;

            for (i = 0; i < exp.length; i++) {
              exp[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "none") {
                  panel.style.display = "block";
                } else {
                  panel.style.display = "none";
                }
              });
            }

          </script>        
      </section>
    </body>
  </html>
