<DOCTYPE! html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Dashboard</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"crossorigin="anonymous">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
      <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    </head>
    <body class="dark-mode">
      {% include 'sidenav.html' %}
      <section class="gs-dash">
      <div class="gs-container">
        <div class="gs-item">    
          <input type="checkbox" id="arrow1">
          <label class="expand" id="target" for="arrow1"> Recently Added Grants </label> 
          <div class="panel" id="gs-panel">
          {% if grant %}
          <table class=" table table-hover table-borderless" id="gs-table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Posted On</th>
              </tr>
            </thead>
            <tbody>
            {% for g in grant[0:5] %}
            <tr onclick="window.location.href='{{ url_for('showGrant', grantid=g[0]) }}'">
              <td> {{ g[1] }} </td>
              <td> {{ g[5] }} </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
          {% else %}
          <p>No grants have been added recently.</p>
        {% endif %}
          </div>
        </div>
        <div class="gs-item">
          <input type="checkbox" id="arrow2">
          <label class="expand" id="target" for="arrow2"> Pending Applications</label> 
          <div class="panel" id="gs-panel">
          {% if pending is not none %}
          <table class=" table table-hover table-borderless" id="gs-table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Submitted On</th>
              </tr>
            </thead>
            <tbody>
            {% for p in pending %}
              <tr>
                <td> {{ p[1] }} </td>
                <td> {{ p[8] }} </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
            <p>No pending applications.</p>
          {% endif %}
          </div>
        </div>
        <div class="gs-item">
          <input type="checkbox" id="arrow3">
          <label class="expand" id="target" for="arrow3"> Proposal History</label> 
          <div class="panel" id="gs-panel">
            {% if done is not none %}
            <table class=" table table-hover table-borderless" id="gs-table">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Submitted On</th>
                  <th scope="col">Decision</th>
                </tr>
              </thead>
              <tbody>
              {% for d in done %}
                {% if d[12] == current_user.id %}
                {% if d[10] is not none %}
                <tr>
                  <td> {{ d[1] }} </td>
                  <td> {{ d[8] }} </td>
                  {% if d[10] == 1 %}
                  <td> Approved </td>
                  {% else  %}
                  <td> Rejected </td>
                  {% endif %}
                </tr>
                {% endif %}
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
            {% else %}
              <p>No history available.</p>
            {% endif %}
          </div>
        </div>
      </div>

      <script>
        var exp = document.getElementsByClassName("expand");
        var i;

        for (i = 0; i < exp.length; i++) {
          exp[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "none") {
              panel.style.display = "block";
            } else {
              panel.style.display = "none";
            }
          });
        }
      </script>
      </section>
    </body>
  </html>
