<DOCTYPE! html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Dashboard</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"crossorigin="anonymous">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
      <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    </head>
    <body class="dark-mode">
      {% include 'sidenav.html' %}
      <section class="gs-dash">
      <div class="gs-container">
        <div class="gs-item">    
          <input type="checkbox" id="arrow1">
          <label class="expand" id="target" for="arrow1"> Recently Added Grants </label> 
          <div class="panel" id="gs-panel">
          {% if grant %}
          {% for g in grant[0:5] %}
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="{{ url_for('showGrant', grantid=g[0]) }} " class="gs-link">{{ g[1] }} &emsp; - &emsp; Posted on: {{ g[5] }} </a>
            </li>
          </ul>
          {% else %}
          <p>No grants have been added recently.</p>
          {% endfor %}
          {% endif %}
          </div>
        </div>
        <div class="gs-item">
          <input type="checkbox" id="arrow2">
          <label class="expand" id="target" for="arrow2"> Pending Applications</label> 
          <div class="panel" id="gs-panel">
          {% if pending %}
          <table class=" table table-hover table-borderless" id="gs-table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Submitted On</th>
              </tr>
            </thead>
            <tbody>
            {% for p in pending %}
              {% if p[11] == current_user.id %}
              <tr>
                <td> {{ p[1] }} </td>
                <td> {{ p[7] }} </td>
              </tr>
            {% endif %}
            {% endfor %}
            </tbody>
          </table>
        {% else %}
            <p>No pending applications.</p>
          {% endif %}
          </div>
        </div>
        <div class="gs-item">
          <input type="checkbox" id="arrow3">
          <label class="expand" id="target" for="arrow3"> Data</label> 
          <div class="panel" id="gs-panel">
	    <p></p>
          </div>
        </div>
      </div>

      <script>
        var exp = document.getElementsByClassName("expand");
        var i;

        for (i = 0; i < exp.length; i++) {
          exp[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "none") {
              panel.style.display = "block";
            } else {
              panel.style.display = "none";
            }
          });
        }
      </script>
      </section>
    </body>
  </html>
