<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script src="script.js"></script>
    <div class="container">
      <div class="row">
        <div class="col-xs-3 mx-auto">
          <div class="card">
            <form class="login-space">
              <h1>Create Account</h1>
              <div class="form-group"> 
                <input type="fname" class="form-control" id="fname" placeholder="First Name">
              </div>
              <div class="form-group"> 
                <input type="lname" class="form-control" id="lname" placeholder="Last Name">
              </div>
              <div class="form-group"> 
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Password">
              </div>
              <p>You Are A...</p>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="userclass">A Grantseeker
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="userclass">An Admin
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="userclass">A Reviewer
                </label>
              </div>              
            </form>
            <a href="#" class="btn btn-default" id="btn">REGISTER</a>
            <a href="index.html">Already a member? Login Here</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
