<DOCTYPE! html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Dashboard</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"crossorigin="anonymous">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap" rel="stylesheet">
      <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    </head>
    <body class="dark-mode">
      {% include 'sidenav.html' %}
      <section class="reviewer-dash">
        <div class="reviewer-container">
          {% block content %}

          {% for message in get_flashed_messages() %}
          <div class="alert alert-warning alert-dismissable" style="color:rgb(0,0,0); position:absolute; top:100px; font-size: 1.5em;">
              <button onclick=delete_flash(this) type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
          </div>
          {% endfor %}

          {% block page_content %}{% endblock %}

          {% endblock %}

          <div class="reviewer-item">
            <input type="checkbox" id="arrow1">
            <label class="reviewer-expand" id="target" for="arrow1"> Recently Assigned Proposals </label>
            <div class = "reviewer-panel">
              {% if assign is not none %}
              <table style="max-width: 600px;"class=" table table-hover table-borderless" id="reviewer-table">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Summary</th>
                    <th scope="col">Researcher</th>
                    <th scope="col">Proposal Submitted</th>
                    <th scope="col">Assigned For Review</th>
                  </tr>
                </thead>
                <tbody>

              {% for p in pending %}
                {% if p[13] == 1 and p[15] == current_user.id %}
                  {% if p[19] != 1 %}
                  <tr onclick="window.location.href='{{ url_for('pro_review', pro_id=p[0]) }}';">
                    <td> {{ p[1] }} </td>
                    <td> {{ p[2] | striptags | truncate(50, False) }} </td>
                    <td> {{ p[12] }} </td>
                    <td> {{ p[8] }}</td>
                    <td> {{ p[13] }}</td>
                  </tr>
                  {% endif %}
                {% endif %}
              {% endfor %}
                </tbody>
              </table>
            {% else %}
              <p>No grants assigned at this time</p>
            {% endif %}
            </div>
          </div>
          <div class="reviewer-item">
            <input type="checkbox" id="arrow2">
            <label class="reviewer-expand" id="target" for="arrow2"> Completed Reviews</label>
            <div class="reviewer-panel">
              {% if pending is not none %}
              <table class=" table table-hover table-borderless" id="reviewer-table">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Researcher</th>
                  </tr>
                </thead>
                <tbody>
                  {% for p in pending %}
		  {% if p[13] == current_user.id %}
        {% if p[19] == 1 %}
                  <tr>
                    <td> {{ p[1] }} </td>
                    <td> {{ p[12] }} </td>
                  </tr>
        {% endif %}
		  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <p>No pending grants at this time</p>
            {% endif %}
              </div>
            </div>
          </div>
        </div>

        <script>
        function delete_flash(flash){
            $(flash).parent().remove()
        }

          var exp = document.getElementsByClassName("reviewer-expand");
          var i;

          for (i = 0; i < exp.length; i++) {
            exp[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var panel = this.nextElementSibling;
              if (panel.style.display === "none") {
                panel.style.display = "block";
              } else {
                panel.style.display = "none";
              }
            });
          }</script>
      </section>
    </body>
  </html>
