<style>
.sidenav {
  margin: 0;
  padding: 0;
  width: 15%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.sidenav h2 {
  padding: 15px;
  color: rgba(253, 228, 218, 0.9);
  display: block;
  font-weight: 900;
}

.sidenav a {
  padding: 15px;
  text-decoration: none;
  font-size: 25px;
  color: rgba(253, 228, 218, 0.9);
  display: block;
}

.sidenav a:hover, a:active {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(255, 72, 0);
}

.bottom {
  align-self: flex-end;
}
<!--
#bottom-logout {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
}

#bottom-setting {
  position: absolute;
  display: inline-block;
  bottom: 5;
  right: 15;    
} -->

.sidenav a:hover:active{
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(255, 72, 0);
}

@media screen and (max-width: 800px), screen and (max-height: 400px){
  .sidenav {
    flex-direction: row;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  .sidenav h2, a {float: left;}
<!--  div.content {margin-left: 0;} -->
}

@media screen and (max-width: 500px) {
  .sidenav {
    flex-wrap: wrap;
    flex-direction: column;
    } 

  .sidenav h2, a {
    text-align: center;
    float: none;
  }
  .bottom {
    align-self: center;
  }
}

</style>


<div class="sidenav">
{% if current_user.is_authenticated %}
    <h2>{{ current_user.account|title }}</h2>
{% endif %}
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="#">Messages</a>
    <a href="{{ url_for('grants') }}">Grants</a>
    <a class="bottom" id="bottom-logout" href="{{ url_for('logout') }}">Logout </a>
    <a class="bottom" id="bottom-setting" href="{{ url_for('account') }}"><i class="fas fa-cog"></i></a>
</div>
